@font-face {
	font-family: 'Sora';
	src: url('$lib/fonts/Sora-VariableFont_wght.ttf');
}

$primary-font: 'Sora', sans-serif;
$primary-color: #2176ff;
$secondary-color: #e8f1ff;
$grey-color-1: #797979;
$grey-color-2: #6f6f6f;

$page-block-padding: 7.5rem;
$page-block-padding-mobile: 1rem;

$tab-phone-breakpoint:821px;

@mixin flexbox(
  $justify-content: space-between,
  $align-items: center,
  $flex-direction: row,
  $flex-wrap: nowrap
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin useBlockPadding($inline-padding:2rem){
	padding: $inline-padding $page-block-padding;
	@media screen and (max-width:$tab-phone-breakpoint) { 
		padding: $inline-padding $page-block-padding-mobile;
	}

}

$text-h1: 2.5rem;
$text-h2: 2rem;
$text-h3: 1.75rem;
$text-h4: 1.5rem;
$text-h5: 1.25rem;
$text-h6: 1rem;
$text-regular: 1rem;
$text-small: 0.875rem;


