@use './css_lib' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $primary-font;
}

body {
	font-family: $primary-font;
	max-width: 150rem;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

.btn {
	text-decoration: none;
	color: $primary-color;
	padding: 1rem 2.2rem;
	border-radius: 0.7rem;
	border: none;
}

.secondary-btn {
	@extend .btn;
	background: $secondary-color;
	font-weight: 500;
}

.primary-btn {
	@extend .btn;
	background: $primary-color;
	color: white;
}

.white-btn {
	@extend .btn;
	background: white;
	font-weight: 500;
	color: black;
}

.dot {
	width: 5px;
	height: 5px;
	background: black;
	display: inline-block;
	border-radius: 50%;
}

h1 {
	font-size: $text-h1;
}


.desktop-only { 
	@media screen and (max-width:$tab-phone-breakpoint){
		display: none;
	}
}