@import "./lib";

*, *::before, *::after { 
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Sora';
	src: url('./fonts/Sora-VariableFont_wght.ttf');
}

body { 
	font-family: $primary-font;
}